*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: #24292e;
    color: #fff;
}

button{
    background: #3b5ecf;
    border-radius: 15px;
    border-color: #ebf5f4;
    width: 130px;
    height: 30px;
}

.dllink{
    color: #ebf5f4;
    text-decoration: none;
}

.report{
    color: #4946f0;
}


button:hover{
    background: #8f2bad;
}

.violet{
    color: #ad3bcf;
}